<div>
  <div id="nav">
    &#8192;&#8192;&#8192;&#8192;&#8192;&#8192;
    <span>File</span>&#8192;&#8192;&#8192;&#8192;&#8192;&#8192;
    <span>Edit</span>&#8192;&#8192;&#8192;&#8192;&#8192;&#8192;
    <span>Help</span>
    <div class="bbtn">
      Time&#8192;&#8192;&#8192;&#8192;&#8192;&#8192;
    </div>
  </div>
  <div>
    {{! {/* Apps */} }}
    <div class="nes-container subtle">
      <div>
        {{! {/* M3ters Icon */} }}
        <div id="m3ters-icon">
          <div>
            <div>
              <div
                class="nes-btn"
                style="background-color: #eee"
                onclick="clickButton(); toggleApp('m3ters', true)"
              >
                <div>
                  <img
                    alt="M3ter"
                    src="https://m3ters.ichristwin.com/api/m3ter-head/pretty"
                    class="nes-avatar"
                  />
                  <img
                    alt="M3ter"
                    src="https://m3ters.ichristwin.com/api/m3ter-head/new"
                    class="nes-avatar"
                  />
                </div>
                <div>
                  <img
                    alt="M3ter"
                    width="60"
                    height="60"
                    src="https://m3ters.ichristwin.com/api/m3ter-head/blob"
                    class="nes-avatar"
                  />
                  <img
                    alt="M3ter"
                    width="60"
                    height="60"
                    src="https://m3ters.ichristwin.com/api/m3ter-head/now"
                    class="nes-avatar"
                  />
                </div>
              </div>
              <p>M3ters</p>
            </div>
          </div>
        </div>

        {{! {/* Paint Icon */} }}
        <div id="paint-icon">
          <div style="float:right">
            <a
              class="nes-btn is-warning"
              target="browser"
              onclick="clickButton(); toggleApp('browser', true)"
              href="https://basepaint.xyz/"
            >
              <i class="nes-icon heart is-medium"></i>
            </a>
            <p>Paint</p>
          </div>
        </div>

        {{! {/* terminal Icon */} }}
        <div id="terminal-icon">
          <div>
            <button
              class="nes-btn is-success"
              style="background-color: black"
              onclick="clickButton(); toggleApp('terminal', true)"
            >
              <h1 style="fontSize: 26">&gt;_</h1>
            </button>
            <p>Terminal</p>
          </div>
        </div>

        {{! {/* Browser Icon */} }}
        <div id="browser-icon">
          <div style="float: right">
            <button
              class="nes-btn"
              onclick="clickButton(); toggleApp('browser', true)"
            >
              <i class="nes-icon google is-medium"></i>
            </button>
            <p>browse</p>
          </div>
        </div>

        {{! {/* M3ters Table */} }}
        <div
          class="nes-table-responsive nes-container hidden"
          id="m3ters"
          style="background-color: white;float:left"
        >
          <div>
            <button
              class="nes-btn is-error"
              onclick="clickButton(); toggleApp('m3ters', false)"
            >
              <i class="nes-icon close is-small"></i>
            </button>
            <button
              class="nes-btn"
              style="font-size: 12px;"
              onclick="clickButton(); toggleApp('m3ters', false)"
            >
              _
            </button>
          </div>
          <form method="post" action="/">
            <div class="nes-field is-inline">
              <input
                name="tokenId"
                type="text"
                class="nes-input"
                placeholder="tokenId"
              />
              <button
                type="submit"
                onclick="clickButton()"
                class="nes-btn is-warning"
              >
                + Add M3ter
              </button>
            </div>
          </form>

          <table class="nes-table is-bordered">
            <thead class="nes-container is-centered">
              <tr>
                <th>TokenId</th>
                <th>Warp Contract</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each m3ters}}
                <tr>
                  <td>
                    <img
                      alt="M3ter"
                      src="https://m3ters.ichristwin.com/api/m3ter-head/{{encodeURIComponent publicKey}}"
                      class="nes-avatar"
                    />
                    <span> #{{tokenId}}</span>
                  </td>
                  <td>
                    <a
                      target="browser"
                      onclick="clickButton(); toggleApp('m3ters', false); toggleApp('browser', true)"
                      href="https://viewblock.io/arweave/contract/{{contractId}}"
                    >
                      {{contractId}}
                    </a>
                  </td>
                  <td>
                      <button
                        onclick="deleteMeter(`{{encodeURIComponent publicKey}}`)"
                        class="nes-btn is-error"
                      >
                        <i class="nes-icon close is-small"></i>
                      </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        {{! {/* Terminal */} }}
        <div class="nes-container is-dark hidden" id="terminal">
          <button
            class="nes-btn is-error"
            onclick="clickButton(); toggleApp('terminal', false)"
          >
            <i class="nes-icon close is-small"></i>
          </button>
          <button
            class="nes-btn"
            style="font-size: 12px;"
            onclick="clickButton(); toggleApp('terminal', false) "
          >
            _
          </button>
          <div class="nes-container is-dark" id="m3ter-data">
            <div class="nes-container is-dark is-centered subtle">
              <h3 class="empty">Loading M3ter data...</h3>
            </div>
          </div>
          <span></span>
        </div>
      </div>
    </div>

    {{! {/* google app */} }}
    <div class="nes-container subtle hidden" id="browser">
      <div class="nes-container is-dark">
        <button
          class="nes-btn is-error"
          onclick="clickButton(); toggleApp('browser', false)"
        >
          <i class="nes-icon close is-small"></i>
        </button>
        <button
          class="nes-btn"
          style="font-size: 12px;"
          onclick="clickButton(); toggleApp('browser', false)"
        >
          _
        </button>
        <iframe
          src="https://www.wikipedia.org/"
          name="browser"
          title="Internet Browser"
        ></iframe>
      </div>
    </div>

    {{! <button
      type="button"
      class="top nes-btn"
      style="--offset: 50px; position: sticky; bottom: 20px; margin-right: 10px; place-self: end; margin-top: calc(100vh + var(--offset)); float: right"
    >
      <span>&#8593;</span>
    </button> }}
  </div>
</div>